.horizontal {
    border: solid .05rem black;
}

.table-list {
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.cases:hover {
    background-color: rgba(185,185,185,0.5);
}

.subheading {
    font-weight: 600;
}